body{
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 1300px;
    margin: auto;
}

/* header */
.header{
    background-color: #e7e6e6;
}
.logo img{
    width: 100px;
}
.header ul{
    list-style: none;
    margin: 0;
   
}
.header ul li{}
.header ul li a {
    text-decoration: none;
    padding: 25px 17px;
    color: #71787e;
}

.home{
    color: #3251d0 !important;
    position: relative;
}
.home::after {
    content: "";
    position: absolute;
    bottom: -25px;
    right: 6px;
    height: 2px;
    width: 84%;
    background-color: #ada9e8 !important;
}


.header ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    top: 47px;
    left: 6px;
    height: 2px;
    background-color: #ada9e8;
    display: block;
    transition: .5s;
}

.header ul li a:hover::after {
    width: 85%;
}

.header ul li{
    position: relative;
}
/* ********** Dropdowns *********/
.header ul li p {
    position: absolute;
    top: 203%;
    list-style: none;
    background-color: blue;
    border: 20px solid #fff;
    color: #fff;
    width: 180px;
    z-index: 9;
    height: 90px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.header ul li:hover p{
    opacity: 1;
    visibility: visible;
}
/* ********** Dropdowns *********/

.btn-primary {
    background-color: #fff !important;
    color: #3251d0;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    position: relative;
    z-index: 1;
    padding: 10px 15px;
}
.btn-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #7471f3 !important;
    border-radius: 20px;
    display: block;
    z-index: -1;

}
.btn-primary:hover:after{
    width: 100%;
    transition: .5s;

}


/* banner */
.banner {
    background-color: #edf6ff;
    width: 1300px;
    height: 632px;
    overflow: hidden;
}
.banner-img {
    border-radius: 50%;
    width: 700px;
    height: 750px;
    position: absolute;
    top: -118px;
    right: -204px;
}

.banner-item{
    height: 700px;
    display: flex;
    align-items: center;
}
.btn-danger{
    background-color:#036eff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid transparent;
    font-weight: 500;
}
.btn-danger:hover{
    background-color: #fff;
    color: #71787e;
    border-radius: 20px;
    border: 1px solid #71787e;
}
/* product */
.product{
    background-color: #ffffff;
}

.below::after {
    content: "";
    position: absolute;
    top: 110px;
    left: 0;
    background-color: #9d8fec;
    width: 45px;
    height: 2px;
}

.card {
    padding: 26px;
    background-color: #f9fcff;
    box-shadow: 0px 1px 5px 5px #36333326;
    z-index: 9;
}

.iii {
    font-weight: 900;
    font-size: 30px;
    background-color: #5252f0;
    border-radius: 25px 25px 25px 0px;
    padding: 10px;
    color: #fff;
    margin: 10px 0px;
    position: relative;
}
.iii::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    background-color: #9d8fec;
    width: 50%;
    height: 2px;
}

.card.iii::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
  
    width: 0;
    height: 2px;
}
.card:hover .iii::after{
    width: 90%;
    transition: .5s;
    background-color: #f9fcff;
}

.aaa {
    color: #94989b;
    padding-top: 30px;
}

.card:hover .aaa{
    color: #fff;
}
.card:hover{
    background-color: #5252f0;
    color: #fff !important;
    transition: .5s;
}
.card:hover .iii{
    background-color: #fff;
    color: #5252f0;
}

.product{
    position: relative;
}
.img-ii {
    position: absolute;
    top: 409px;
    left: 25px;
}


/* footer */
.footer {
    background-image: url(./aaaaaaaa.jpg);
    text-align: center;
    color: #fff;
    height: 550px;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.footer::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #010d3eb3;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.footer-bann{
    position: relative;
}
.footer-bann::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 221px;
    width: 14%;
    height: 2px;
    background-color: #ffffff;
}
.fff a{
    text-decoration: none;
    display: inline-block;
}
.fa-play {
    background-color: #fff;
    width: 70px;
    height: 70px;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    position: relative;
}
.fa-play::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px double #ffffff;
    border-radius: 50%;
    animation: playbtn 1s ease-out infinite;
}

@keyframes playbtn{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.4);
        opacity: .6;
    }
    100%{
        transform: scale(2);
        opacity: .1;
    }
}